header{
    text-align: center;
	@extend %header-footer-content;
	.company-logo {
	    width: 10rem; 
	}
	ul {
		li {
		    display: inline-block;
		    padding: 1rem;
		    list-style: none;	 		
		}
	}
	h1 {
        display: inline-block;
    }

	nav {
	    display: inline-block;
	}
} 

footer {
    @extend %header-footer-content;  
	.outer-wrapper {
	    padding: 0;
        margin: 0;
		li {
		    padding: 1rem;
		    list-style: none;
		    margin: 0;
            padding: 4px;
	    }
        > li{
	      display: inline-block;
	    }
	}
}



